<main class="container">
  <div class="title">
    <h1>Micro Reddit</h1>
    <p>A simple Reddit clone built with Rub on Rails</p>
  </div>

  <div>
    <%= link_to "Create post", new_post_path %>
  </div>

  <section id="posts">
    <%= render @posts %>
  </section>
</main>
