<main class="container">
  <div class="post_details">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
  </div>

  <div class="comments">
    <p>Comments (<%= @post.comments.count %>)</p>

    <%= render @post.comments %>
  </div>
</main>